* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;

  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.searchContainer {
  width: auto;
  max-width: 1355px;
  margin-top: 25px;
  margin-right: 0;
  margin-left: 0px;
  padding-left: 25px;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(88, 75, 75, 0.7);
  border: 1px solid black;
  filter: opacity(0.8);
}

.header {
  color: rgb(251, 231, 231);
}
#search {
  padding: 5px;
}
#input {
  border-radius: 15px;
  text-align: center;
  color: white;
  background-color: rgba(88, 75, 75, 0.7);
}
::placeholder {
  color: white;
}

#button {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.result {
  width: 200px;
  min-height: 100px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  color: black;
  /* background: url("../Assets/Pics/04d.jpg"); */
  background-size: cover !important;
  background-position: left !important;
  background-repeat: no-repeat !important;
  filter: opacity(0.9);
}
.list {
  list-style: none;
}
i {
  width: 10px;
}
li {
  padding: 10px 5px;

  width: 102px;
  display: flex;
  justify-content: space-around;
  background-color: gray;
}
span {
  width: 25px;
}
/* .fa.fa-wind {
  padding-right: px;
} */
