* {
  margin: 0;
  padding: 0;
}
body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  /* background-color: rgb(182, 155, 155); */
  /* border: 1px inset gray; */
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result {
  width: 250px;
  min-height: 100px;
  background-color: rgb(88, 75, 75);
  border: 1px solid black;
  margin-top: 10px;
  display: flex;
  color: white;
}
.list {
  list-style: none;
  padding: 10px;
}
i {
  width: 10px;
}
li {
  width: 100px;
  display: flex;
  justify-content: space-around;
}
